{% extends "block-container.html" %}

{% block json %}

<h1  id='text_or_json' style="color: coral;">Database Log of  </h1>

<h2 id="person">for peson:  </h2>
<h3 id="items">item amount: {{ item_count }} </h3>


<table id="table" border="1" class="dataframe">
	<thead>
		<tr style="text-align: right;">
			<th>ID</th>
			<th id="text_or_json_table"></th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>

<script>
	var records = {{ records | safe}};
	var params = new URLSearchParams(location.search);
	var person = params.get("person");
	var type  = records.type
	document.getElementById("person").append(person);
	document.getElementById("text_or_json").append(type);
	document.getElementById("text_or_json_table").append(type);

	if (person == records.person) {
		
		for (let i = 0; i < {{item_count|safe}}; i++){	
			var table = document.getElementById("table");
			var row = table.insertRow(-1);
			var cell_id = row.insertCell(0);
			var cell_data = row.insertCell(1);
			cell_id.innerHTML = records["id"][i];
			cell_data.innerHTML = records['json_text'][i];
			}
	};

//   ˅
</script>
<br>

<!-- ˅This is the script that measures the performance, not allowed to edit this section.˅  -->
<script>
	window.onload = () => {
		var hit_time = "{{ hit }}";
		var end_time = Date.now() / 1000;
		var time_dif = (end_time - hit_time);
		var score = Math.floor((1 / time_dif) * 3000);
		toastr.info("YOUR SCORE: " + score);
	}
</script>
<!-- ˄This is the script that measures the performance, not allowed to edit this section.˄ -->


{% endblock json %}